With*/target/

### IntelliJ IDEA ###
With*/.idea/modules.xml
With*/.idea/jarRepositories.xml
With*/.idea/compiler.xml
With*/.idea/libraries/
With*/spooned/
With*/*.log
With*/*.iws
With*/*.iml
With*/*.ipr